{{- range . }}
    {{- $name := .Name }}
    {{- range .Weights }}
@font-face {
    font-family: '{{ $name }}';
            {{- if isItalic . }}
    font-style: italic;
    font-weight: {{ getWeight . }};
            {{- else}}
    font-style: normal;
    font-weight: {{ . }};
            {{ end }}
    src: url(http://localhost:8080/f?family={{ encode $name }}&weight={{ . }}) format('truetype');
}
    {{ end }}
{{ end }}